#boxes{
	display: flex;
	width:98%;
	flex-wrap: wrap;
	flex-direction: column;
	margin-bottom: 100px;
}
.box{
	min-width: 150px;
	width: 100%;
	margin-bottom:30px;
	color:white;
	-webkit-transition: transform 0.25s; /* Safari */
    transition: transform 0.25s, border-color 0.2s;
    overflow: hidden;
    display: flex;
	background-color: #3e4d5b;
	border-radius:30px;
}

.box_media{
	background-position: center;
	background-size: cover;
	z-index: 0;
	min-width: 200px;
	width: 200px;
	height: 200px;
}
.box_content{
	padding:30px;
	font-size: 12pt;
	width: calc(100% - 200px);
	text-align: center;
}

.box_content > a > h3, .box_content > h3{
	text-align: center;
	font-size: 18pt;
	margin:0px;
	text-decoration: none;
}
.box_content > ul{
	margin:auto;
	text-align: left;
	width: max-content;
}
.box_title {
	text-shadow: 1px 1px orange !important;
	text-decoration: none;		
}
.box_title:hover{
	
}
.box_content  a{
	color:white;
}
.box_content  a:hover{
	color:orange;
}
.myVideo {
    width:100%;

}
video{
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}


#passfiles{background-image: url("../images/pass.png");}
#circlejerk{background-image: url("../images/cj.png");}
#trump{background-image: url("../images/trump.png");}
#gamut{background-image: url("../images/gamut.png");}
#calc{background-image: url("../images/calc.png");}
#svge{background-image: url("../images/svge.png");}
#this_site{background-image: url("../images/this_site2.png");}
